.ToolBar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(128, 78, 29);
    z-index: 90;
    padding: 10px 0;
    height: 50px;
    align-items: center;
    box-sizing: border-box; 

}

.ToolBar nav{
    height: 100%;
}

.Logo{
    height: 80%;
}


@media(max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}